
.bg-custom {
    background-color: #ffffff; 
    box-shadow: 0px 4px 5px 0px rgba(0, 0, 0, 0.06); 
}

.navbar-brand {
    font-family: "Pacifico", cursive;
    font-weight: bold;
    padding-top: 10px; 
    margin-left: 50px;
}

.navbar-nav .nav-link {
    margin-right: 15px;
}

.nav-link {
    color: black;
    font-weight: 500;
}

.nav-link:hover {
    color: #ceaf83;
}

.custom-content {

    padding-top: 20px;
    max-width: 85%;

}
.nav-container {

    max-width: 93%;

}
.colbg {

background-color: #c49a60;

}
.position-btn .btn-log {

    background-color: #ffffff;
    color: #ceaf83;
    font-weight: 600;
    border: 3px solid #ceaf83;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 50px;

}
.position-btn .btn-log:hover {

    color: #c49a60;
    border: 3px solid #c49a60;


}
.position-btn .btn-reg {
    background-color: #ceaf83;
    color: white;
    font-weight: 600;
    border: 3px solid #ceaf83;
    padding: 10px 20px;
    font-size: 16px;
    margin-right: 50px;
}

.position-btn .btn-reg:hover {
    background-color: #c49a60;
    border: 3px solid #c49a60;
}

.carousel-item img {
    height: 300px;
    width: 500px;
    object-fit: cover; 
    border-radius: 3px;
}
.feature {

    margin-top: 20px;
    margin-bottom: 20px;
    font-family: "Kanit", sans-serif;
    background-color: #ceaf83;
    padding-bottom: 30px;
    padding-top: 40px;
    border-radius: 3px;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.29);

}
.feature-header {


    padding-bottom: 40px;


}
.feature h1, .feature h3 {

    font-family: "Kanit", sans-serif;
    color: #3f3424;


}
.feature-img {

    width: 200px;
    height: 200px;
    border-radius: 50%;
    box-shadow: 2px 2px 8px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}
.feature h5 {

    padding-bottom: 10px;

}
.feature p {

    padding-left: 10px;
    padding-right: 10px;

}
.feature-footer {

    font-family: "Pacifico", cursive;
    padding-top: 30px;

}
.custom-feature {

    padding-top: 15px;
    background-color: #ffffff;
    border-radius: 10px;
    height: 450px;
    margin-bottom: 15px;
}

/* Footer */
.page-footer {

    padding-top: 25px;
    height: 250px;
    background-color: #ffffff;
    font-family: "Kanit", sans-serif;

}

/* About Page */


.custom-about {

    padding-top: 50px;

}
.about-header {

    font-family: "Pacifico", cursive;
    padding-bottom: 55px;
    
}
.img-employee {

    width: 200px;
    height: 200px;
    overflow: hidden;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 10px rgba(0, 0, 0, 0.06);
    margin-bottom: 20px;

}
.employee {

    background-color: #f5f1ec;
    border-radius: 10px;
    padding-top: 30px;
    margin-bottom: 15px;
    height: 430px;

}
.employee p {

    padding-bottom: 10px;
    font-weight: 500;

}
.text-content-left {

    font-family: "Kanit", sans-serif;
    padding-top: 20px;
    border-radius: 3px;
    background-image: linear-gradient(90deg, rgba(247, 232, 212, 1) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: -13px 8px 6px 0px rgba(0, 0, 0, 0.14);
    margin-bottom: 5px;
}
.text-content-right {

    font-family: "Kanit", sans-serif;
    padding-top: 20px;
    border-radius: 3px;
    background-image: linear-gradient(270deg, rgba(247, 232, 212, 1) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 13px 8px 6px 0px rgba(0, 0, 0, 0.14);
    margin-bottom: 5px;

}
.text-content h4 {

    font-weight: 600;

}
.text-content p {

    padding-left: 10px;

}
.img-content {

    padding-bottom: 10px;
    padding-top: 10px;

}
.img-cont {

    width: 90%;
    height: 300px;
    object-fit: cover;
    border-radius: 3px;
    box-shadow: 2px 2px 6px 1px rgba(0, 0, 0, 0.1);

}
ul li p {

    font-weight: bold;


}
ul li a {

    text-decoration: none;
    color: black;

}

/* Table */
/* ปรับขนาดฟอนต์ของตารางใน Modal */
.modal-body table th,
.modal-body table td {
    font-size: 1rem; /* ขนาดฟอนต์ปกติ */
    padding: 15px; /* ระยะห่างระหว่างข้อความในตาราง */
}

/* เน้นสีสำหรับราคาสูงสุด */
.modal-body table tr:last-child td {
    font-weight: bold;
    color: #d9534f; /* สีแดง */
}
.modal-content {
    border-radius: 10px;
}
#contactModal .btn-primary {
    background-color: #6a11cb;
    border: none;
}
.foot {

    padding-top: 50px;
    
}
